body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}


h1, h2, h3 {
    color: #4A90E2;
}


.player {
    border: 2px solid #4A90E2;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
}


button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #357ABD;
}


button:focus {
    outline: none;
}


#players {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    #players {
        flex-direction: column;
    }
}

#player1-name, #player2-name {
    color: #E9554F;
}
